<section class="auth-wrapper">
  <header>
    <img src="../../../assets/icons/back.svg" alt="click to go back" />
  </header>

  <section class="auth-container">
    <section class="headline">
      <h1>Email Verification: Enter the 4-Digit Code</h1>
    </section>

    <section class="content">
      <p>
        Please check your email for a verification code. We have sent a 4-digit
        code to the email address associated with your account. Enter the code
        below to verify your email and complete the verification process.
      </p>
    </section>

    <section class="verification">
      <div class="boxofbox">
        <div><input type="text" placeholder="#" /></div>
        <div><input type="text" placeholder="#" /></div>
        <div><input type="text" placeholder="#" /></div>
        <div><input type="text" placeholder="#" /></div>
      </div>
    </section>

    <section class="action">
      <p class="resend">Havent received an email? <a href="">Click here</a></p>
      <button id="login">Login</button>
      <p>Does not have an account? <a href="">Sign up</a></p>
    </section>
  </section>
</section>
