<section class="container">
  <section class="signup-wrapper">
    <div class="left">
      <div class="img-holder">
        <img src="../../../assets/images/img-signup.jpg" alt="" />
        <div class="linear"></div>
      </div>

      <div class="txt">
        <div class="glass">
          <p>pursue-success.com</p>
        </div>
        <p class="quote">
          "Your comeback is always stronger than your setback. Welcome back to
          our job portal, where you have the power to create a remarkable future
          filled with success and fulfillment."
        </p>
      </div>

      <img
        class="quote-img"
        src="../../../assets/images/img-quote.png"
        alt=""
      />
    </div>
    <div class="right"></div>
  </section>
</section>
