.container {
  padding: 64px;

  .signup-wrapper {
    width: 100%;
    height: 100%;

    display: flex;

    .left {
      width: 60%;
      height: 100%;
      position: relative;

      border-radius: 20px;
      overflow: hidden;

      .img-holder {
        height: 100%;
        width: 100%;

        position: relative;

        img {
          height: 100%;
          position: absolute;
          z-index: -10;
        }

        .linear {
          position: absolute;
          height: 100%;
          width: 100%;
          background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 1));

          z-index: -5;
        }
      }

      .txt {
        position: absolute;
        top: 50px;
        color: #fff;

        width: 100%;

        .glass {
          position: inherit;
          right: 40px;

          width: 210px;
          background: rgba(255, 255, 255, 0.18);
          border-radius: 20px;
          box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
          backdrop-filter: blur(4.8px);
          -webkit-backdrop-filter: blur(4.8px);
          border: 1px solid rgba(255, 255, 255, 0.38);

          p {
            padding: 10px 20px 10px 36px;
            font-size: 16px;
            font-family: var(--roboto-ff);
          }
        }

        .quote {
          position: inherit;
          left: auto;
          right: 40px;
          top: 59px;

          font-size: var(--12);
          width: 400px;
          text-align: right;
        }
      }

      .quote-img {
        position: absolute;
        bottom: 28px;
        left: 28px;
      }
    }

    .right {
      width: 40%;
      height: 100%;
      background-color: blue;
    }
  }
}
