.container {
  padding: 35px 64px 64px 64px;

  .forgot-wrapper {
    height: 100%;
    width: 100%;

    display: flex;

    .left {
      padding: 0 40px;
      width: 60%;
      height: 100%;

      overflow-y: scroll;

      .back {
        display: flex;
        align-items: center;
        margin-bottom: 10px;

        background-color: #fff;
        padding: 10px 0 20px;

        cursor: pointer;
        position: sticky;
        top: 0;

        img {
          margin-right: 10px;
        }

        p {
          color: var(--secondary-black);
          font-size: var(--14);
        }
      }

      .instruction {
        width: 80%;
        margin: 0 auto;

        h1 {
          font-size: var(--h2);
        }

        hr {
          margin: 15px 0 10px;
        }

        ol {
          li {
            margin: 10px 20px;
            padding-left: 10px;
            color: var(--secodary-black);

            b {
              margin-right: 10px;
            }
          }
        }
      }
    }

    .right {
      width: 40%;
      height: 100%;
      overflow: hidden;

      padding: 20px 50px;
      position: relative;

      .heading {
        h1 {
          font-size: var(--h1);
        }

        p {
          font-size: var(--16);
          color: var(--secondary-black);

          margin: 10px 0 10px;
        }
      }

      form {
        .m20 {
          margin-bottom: 20px;
        }

        .input- {
          position: relative;
          height: 50px;
          width: 100%;

          .input-box {
            input {
              position: absolute;

              width: 100%;
              height: 100%;

              outline: none;
              background-color: transparent;
              border: none;
              border-bottom: 1px solid var(--gray);

              font-family: var(--paragraph-ff);
              font-size: var(--16);

              padding-top: 20px;
              transition: 0.4s all;
            }

            input.active {
              border-bottom-color: #000;
            }

            input.active + label {
              color: var(--gray);
              font-size: var(--12);
              top: 7px;
            }

            label {
              position: absolute;
              left: 0;
              top: 24px;

              pointer-events: none;
              user-select: none;
              color: var(--gray);

              transition: 0.4s all;
            }

            input::placeholder {
              font-family: var(--paragraph-ff);
              font-size: var(--16);

              opacity: 0;
            }

            span {
              position: absolute;

              top: 50%;
              right: 10px;
              left: auto;
              transform: translateY(-50%);

              font-size: var(--12);
              color: var(--gray);
              user-select: none;
              cursor: pointer;
            }

            input.invalid {
              border-bottom-color: var(--error-red);
            }

            input.invalid + label {
              color: var(--error-red);
            }
          }

          .inp-inv {
            position: absolute;
            bottom: -20px;
            right: 0;
            color: var(--error-red);
            font-size: var(--12);
            display: none;
          }

          .inp-inv.invalid {
            display: unset;
          }
        }
      }

      .actions {
        width: calc(100% - 100px);
        position: absolute;

        bottom: 0;

        button {
          width: 100%;
          height: 40px;

          margin-bottom: 20px;
          background-color: #000;
          color: #fff;
          border-radius: 10px;
          border: none;

          cursor: pointer;
          transition: 0.4s all;
        }

        button:hover {
          background-color: var(--primary-blue);
        }

        p {
          font-size: var(--14);
          text-align: center;
          color: var(--gray);

          a {
            color: #000;
            font-weight: bold;
            transition: 0.4s ease;
          }

          a:hover {
            color: var(--primary-blue);
          }
        }
      }
    }
  }
}

@media (width <= 970px) {
  .container {
    .forgot-wrapper {
      .left {
        width: 100%;
        .instruction {
          width: 100%;
          margin: 0;
        }
      }

      .right {
        width: 100%;
      }
    }
  }
}

@media (width <= 800px) {
  .container {
    .forgot-wrapper {
      .left {
        display: none;
      }
    }

    .right {
      width: 100%;
    }
  }
}

@media (width <= 765px) {
  .container {
    padding: 20px 50px;
    width: 100vw;

    .forgot-wrapper {
      .right {
        padding: 0;

        .actions {
          width: 100%;
        }
      }
    }
  }
}
