<section class="container">
  <section class="forgot-wrapper">
    <div class="left">
      <div class="back">
        <img src="../../../assets/icons/back-arrow.svg" alt="" />
        <span>Go Back</span>
      </div>
      <div class="instruction">
        <h1>How to reset password?</h1>
        <hr />
        <ol>
          <li *ngFor="let newData of data">
            <b>{{ newData.title }}</b
            >{{ newData.content }}
          </li>
        </ol>
      </div>
    </div>
    <div class="right">
      <div class="heading">
        <h1>Forgot password?</h1>
        <p>
          Enter the email associated with the account and we will send an email
          with instructions on how to your reset password.
        </p>
      </div>

      <form [formGroup]="formData">
        <div class="input- m20">
          <div class="input-box">
            <input
              type="text"
              name="email"
              id="email"
              autocomplete="off"
              placeholder="Enter your email address"
              (focus)="onFocus()"
              (blur)="onBlur()"
              [ngClass]="[setState ? 'active' : '', isValid ? '' : 'invalid']"
              formControlName="email"
            />
            <label for="email">Enter your email address</label>
          </div>
          <span class="inp-inv" [ngClass]="isValid ? '' : 'invalid'"
            >This field is invalid *</span
          >
        </div>
      </form>

      <div class="actions">
        <button (click)="handleClick()">Continue</button>
        <p>Already have an account? <a href="">Sign in</a></p>
      </div>
    </div>
  </section>
</section>
