nav {
  position: sticky;
  top: 0;
  z-index: 10;

  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;

  background-color: #fff;
  padding: 0 100px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

  .logo {
    font-size: var(--18);

    p {
      a {
        color: rgb(var(--secondary-blue));
        font-weight: bold;
        font-family: var(--heading-ff);
      }
    }
  }

  .links {
    width: 50%;

    ul {
      display: flex;
      justify-content: space-between;
      width: 100%;

      box-sizing: border-box;

      li.active:hover {
        border-bottom: 2px solid rgba(var(--secondary-blue), 0.8);
      }

      li.active {
        border-bottom: 2px solid rgb(var(--secondary-blue));

        a {
          color: rgb(var(--secondary-blue));
          font-weight: bold;
        }

        a:hover {
          color: rgba(var(--secondary-blue), 0.8);
          font-weight: bold;
        }
      }

      li {
        list-style: none;
        padding: 18px 10px;
        transition: border-bottom-width 0.3s ease-in-out;

        a {
          cursor: pointer;
          color: var(--gray);

          transition: 0.4s;
        }

        a:hover {
          color: var(--secondary-black);
        }
      }
    }
  }
}
