.createpost {
  height: 100vh;
  width: 100vw;
  position: absolute;

  .createpost-- {
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.05);

    z-index: 19;
  }
}

.container {
  width: 100vw;
  height: calc(100% - 69px);
  padding: 20px 100px 0;
  background-color: #f2f2f2;

  display: flex;

  .add {
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 10;
    background-color: var(--primary-blue);
    border-radius: 50%;
    width: 52px;
    height: 52px;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .left {
    width: 35%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    background-color: #fff;
    border-radius: 10px;
    padding: 20px;

    .upper-box {
      height: 100%;

      .follow-box {
        display: flex;
        justify-content: space-between;
        align-items: center;

        overflow: hidden;

        .profile {
          height: 50px;
          width: 50px;
          background-color: var(--gray);
          border-radius: 50%;

          margin: 20px 0;
        }

        .txt-content {
          margin-left: 15px;

          .name {
            font-weight: bold;
            font-size: var(--14);
            padding: none;
          }

          .company {
            color: var(--gray);
            font-size: var(--12);
          }
        }

        .btn-follow {
          height: 25px;
          width: 25px;
          cursor: pointer;

          img {
            height: 100%;
            width: 100%;
          }
        }
      }
    }

    .recommendation {
      display: flex;
      align-items: center;
      justify-content: space-between;

      cursor: pointer;
      margin-top: 10px;

      p {
        color: var(--gray);
      }

      img {
        height: 25px;
        width: 25px;
      }
    }
  }

  .right {
    margin-left: 30px;
    border-radius: 10px 10px 0 0;
    width: 100%;

    position: relative;

    .right-actions {
      position: absolute;
      right: 0;

      .right-box {
        display: flex;
        padding: 0 10px;

        .holder {
          padding: 0 10px;
          img {
            height: 24px;
            width: 24px;
          }
        }
      }
    }

    .create-post {
      display: flex;
      width: 100%;
      background-color: #fff;
      border-radius: 10px;

      padding: 25px 0;

      .profile {
        height: 50px;
        width: 50px;
        background-color: var(--gray);
        border-radius: 50%;

        margin-left: 20px;
        margin-right: 20px;
      }

      input {
        width: 100%;
        margin-right: 20px;
        height: 50px;

        outline: none;
        border-radius: 10px;
        border: 1px solid var(--gray);

        padding-left: 20px;
      }
    }

    .job-post {
      padding: 24px;
      background-color: #fff;
      border-radius: 10px;
      margin-top: 30px;

      .header {
        display: flex;
        background-color: transparent;

        .profile {
          height: 50px;
          width: 50px;
          background-color: var(--gray);
          border-radius: 50%;
          overflow: hidden;

          img {
            height: 100%;
            object-fit: cover;
          }
        }

        .txt-content {
          margin-left: 15px;

          .name {
            font-weight: bold;
            font-size: var(--14);
          }

          .company,
          .time {
            color: var(--gray);
            font-size: var(--12);
          }
        }
      }

      .body {
        margin-top: 16px;

        .img-holder {
          width: 100%;
          height: 400px;
          margin: 15px 0 28px;

          border-radius: 10px;
          overflow: hidden;

          img {
            object-fit: cover;
            width: 100%;
            height: 100%;
          }
        }
      }

      .actions {
        display: flex;
        align-items: center;
        justify-content: space-between;

        margin-top: 15px;
        margin-bottom: 10px;

        .action-box {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 24%;
          padding: 10px 0;
          border-radius: 10px;
          cursor: pointer;

          img {
            height: 24px;
            width: 24px;
            margin-right: 15px;
          }
        }

        .action-box:hover {
          background-color: var(--light-gray);
        }
      }
    }
  }
}

@media (width <= 1230px) {
  .container {
    .left {
      height: 100%;

      .upper-box {
        .follow-box {
          .profile {
            display: none;
          }

          .txt-content {
            margin: 0;
          }
        }
      }

      .recommendation {
        p {
          font-size: 14px;
        }

        img {
          display: none;
        }
      }
    }
  }
}

@media (width <= 960px) {
  .container {
    .left {
      display: none;
      height: 100%;
    }

    .right {
      margin: 0;
    }
  }
}

@media (width <= 765px) {
  .container {
    padding: 20px 50px 0;
  }
}

@media (width <= 700px) {
  .container {
    .right {
      .job-post {
        padding: 24px;
        background-color: #fff;
        border-radius: 10px;
        margin-top: 30px;

        .header {
          display: flex;
          background-color: transparent;

          .profile {
            height: 50px;
            width: 50px;
            background-color: var(--gray);
            border-radius: 50%;
          }

          .txt-content {
            margin-left: 15px;

            .name {
              font-weight: bold;
              font-size: var(--14);
            }

            .company,
            .time {
              color: var(--gray);
              font-size: var(--12);
            }
          }
        }

        .body {
          margin-top: 16px;

          .img-holder {
            width: 100%;
            margin: 15px 0 28px;

            border-radius: 10px;
          }
        }

        .actions {
          display: flex;
          align-items: center;
          justify-content: space-between;

          margin-top: 15px;

          .action-box {
            img {
              margin: 0;
            }

            p {
              display: none;
            }
          }
        }
      }
    }
  }
}

@media (width <= 470px) {
  .createpost {
    height: 100vh;
    width: 100%;
    z-index: 20;
  }

  .container {
    padding: 0;

    .right {
      .create-post {
        display: none;
      }

      .job-post {
        margin-top: 15px;
        padding: 10px 0 5px;

        .header {
          display: flex;
          background-color: #fff;
          padding: 0 20px 0;

          .profile {
            height: 50px;
            width: 50px;
            background-color: var(--gray);
            border-radius: 50%;
          }

          .txt-content {
            margin-left: 15px;

            .name {
              font-weight: bold;
              font-size: var(--14);
            }

            .company,
            .time {
              color: var(--gray);
              font-size: 12px;
            }
          }
        }

        .body {
          margin-top: 16px;

          p {
            padding: 0 20px 0;
          }

          .img-holder {
            width: 100%;
            margin: 10px 0 10px;

            border-radius: 0;
          }
        }

        .actions {
          margin: 0 5px;

          .action-box {
            img {
              height: 20px;
              width: 20px;
            }

            img.active {
              background-color: pink;
              height: 100%;
              width: 100%;
            }
          }

          .action-box:hover {
            background-color: var(--light-gray);
          }

          .action-box.isActive {
            // TODO: change icon color
          }
        }

        .right-actions {
          .right-box {
            .holder {
              padding: 0 10px;
              img {
                height: 20px;
                width: 20px;
              }
            }
          }
        }
      }
    }
  }
}
