.wrapper {
  position: absolute;
  background-color: #fff;
  z-index: 20;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  height: 530px;
  width: 500px;

  padding: 15px 40px;
  border-radius: 10px;

  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

  .heading {
    width: 100%;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid var(--light-gray);
    padding-bottom: 5px;
    position: relative;

    .close {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);

      height: 28px;
      width: 28px;
      transition: 0.4s all;
      border-radius: 50%;
      cursor: pointer;

      img {
        height: 20px;
        width: 20px;

        margin-left: 4px;
        margin-top: 4px;
      }
    }

    .close:hover {
      background-color: var(--light-gray);
    }
  }

  .profile {
    margin: 15px 0 10px;
    display: flex;

    .profile-- {
      background-color: red;
      height: 40px;
      width: 40px;
      border-radius: 50%;

      margin-right: 10px;

      img {
        width: 100%;
        height: 100%;

        object-fit: cover;
        border-radius: 50%;
      }
    }

    .name {
      font-size: 16px;
      font-weight: bold;
    }

    .visibility {
      font-size: 14px;
    }
  }

  form {
    width: 100%;

    .input-box {
      display: flex;
      flex-direction: column;

      input {
        height: 40px;
        background-color: transparent;
        outline: none;
        border: none;

        font-size: 14px;
      }

      ::placeholder {
        font-size: 14px;
      }
    }

    .file {
      position: relative;
      height: 300px;
      border: 1px solid #a8a196;
      border-radius: 10px;
      margin-bottom: 20px;

      input {
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: 0;
      }

      .txt_content {
        height: 100%;

        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        img {
          height: 35px;
          width: 35px;
        }
      }
    }
  }

  button {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(var(--secondary-blue));
    border: none;
    color: #fff;
  }
}

@media (width <= 470px) {
  .wrapper {
    border-radius: 10px 10px 0 0;
    position: fixed;

    transform: unset;
    left: 0;
    top: auto;
    bottom: 0;

    height: 60%;
    width: 100%;
    padding: 20px;
  }
}
