<div class="wrapper">
  <div class="profile"></div>
  <div class="header"></div>
  <div class="bottom">
    <img src="../../../assets/icons/more.svg" alt="" />
    <div class="txt">
      <h2 class="name">Arvin Malaluan</h2>
      <p class="loc">Simlong, Batangas City</p>
      <p class="bio">No bio.</p>
    </div>

    <div class="actions">
      <div
        class="toPost"
        routerLink="/profile/manage-post"
        routerLinkActive="active"
      >
        <p><b>Manage Posts </b><span>Manage your posts with ease.</span></p>
      </div>
      <div
        class="toInfo"
        routerLink="/profile/manage-info"
        routerLinkActive="active"
      >
        <p>
          <b>Manage Information </b
          ><span>Manage Your Information with Ease</span>
        </p>
      </div>
      <div
        class="toResu"
        routerLink="/profile/manage-resu"
        routerLinkActive="active"
      >
        <p><b>Manage Resume </b><span>Manage your resume with ease.</span></p>
      </div>
    </div>
  </div>
</div>
