<section class="auth-wrapper">
  <section class="auth-container">
    <section class="headline">
      <h1>Welcome back!</h1>
    </section>

    <section class="content">
      <p>
        Log in to your account and take the next step in your career journey.
        Your future awaits!
      </p>
    </section>

    <section class="form">
      <div class="input-box">
        <input type="text" name="email" placeholder="Email address" required />
        <label for="email">Email address</label>
      </div>

      <div class="input-box">
        <input
          type="password"
          name="password"
          placeholder="Password"
          required
        />
        <label for="password">Password</label>
      </div>

      <div class="keepme">
        <input type="checkbox" name="keepme" id="keepme" />
        <label for="keepme">Keep me logged in</label>
      </div>
    </section>

    <section class="action">
      <p>Forgot password? <a href="">Click here</a></p>
      <button id="login">Login</button>
      <p>Does not have an account? <a href="">Sign up</a></p>
    </section>
  </section>
</section>
