.headline > h1 {
  font-family: var(--ff-famtwo);
  font-size: var(--sz-headng);
  color: var(--ff-pricol);

  padding-top: 70px;
  margin-bottom: 10px;
}

.content > p {
  font-size: var(--sz-hdlbel);
  color: var(--ff-labelc);

  margin-bottom: 50px;
}

.form {
  position: relative;
}

.input-box {
  position: relative;
  height: 50px;
  background-color: transparent;
  margin-top: 20px;

  border-radius: 5px;
  border: 1px solid var(--sec-color);
}

.input-box > input {
  position: absolute;
  width: 100%;
  height: 100%;
  border: none;
  background-color: transparent;
  padding: 0 20px;
  outline: none;

  font-size: var(--sz-pholdr);
  color: var(--ff-labelc);
}

.input-box > label {
  position: absolute;
  transform: translate(10px, 12px);
  background-color: var(--pri-color);
  color: var(--ff-labelc);
  transition: all 0.2s;
  padding: 0 10px;
  pointer-events: none;
}

.input-box > input:focus ~ label,
.input-box > input:valid ~ label {
  background-color: var(--pri-color);
  color: var(--sec-color);
  transform: translate(10px, -12px);
}

input:focus::placeholder {
  opacity: 1;
  transition: all 0.2s;
  font-size: var(--sz-pholdr);
}

input[type="checkbox"] {
  accent-color: var(--sec-color);
}

.keepme {
  margin-top: 13px;
  margin-bottom: 35px;
  height: 18px;

  display: flex;
  align-items: center;
}

.keepme > input {
  width: 10px;
  height: 10px;

  margin-right: 10px;
}

.keepme > label {
  color: var(--ff-labelc);
}

.action > p {
  display: flex;
  justify-content: center;
  margin-bottom: 257px;
  font-size: var(--sz-pholdr);
  color: var(--ff-labelc);
}

.action > button {
  background-color: var(--sec-color);
  height: 50px;
  width: 100%;
  border: none;
  border-radius: 5px;

  font-size: var(--sz-pholdr);
  color: var(--ff-pricol);

  margin-bottom: 20px;
}
