<section class="auth-wrapper">
  <section class="auth-container">
    <section class="headline">
      <h1>New here?</h1>
    </section>

    <section class="content">
      <p>
        Sign in and open the door to a world of career possibilities. Let's get
        started on your path to success!
      </p>
    </section>

    <section class="form">
      <div class="name-box">
        <div class="first-box">
          <input
            type="text"
            name="firstname"
            placeholder="First name"
            required
          />
          <label for="firstname">First name</label>
        </div>

        <div class="last-box">
          <input type="text" name="lastname" placeholder="Last name" required />
          <label for="lastname">Last name</label>
        </div>
      </div>

      <div class="input-box">
        <input
          type="text"
          name="address"
          placeholder="Current Address"
          required
        />
        <label for="address">Address</label>
      </div>

      <div class="input-box">
        <input type="text" name="email" placeholder="Email address" required />
        <label for="email">Email address</label>
      </div>

      <div class="input-box">
        <input
          type="password"
          name="password"
          placeholder="Password"
          required
        />
        <label for="password">Password</label>
      </div>

      <div class="input-box">
        <input
          type="reptpass"
          name="reptpass"
          placeholder="Repeat password"
          required
        />
        <label for="reptpass">Repeat password</label>
      </div>
    </section>

    <section class="action">
      <button id="login">Create Account</button>
      <p>Already have an account? <a href="">Sign in</a></p>
    </section>
  </section>
</section>
