.signin-wrapper {
  height: 100%;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  .signin-section {
    max-width: 1200px;
    max-height: 600px;

    width: 1200px;
    height: 600px;
    display: flex;

    .left {
      width: 500px;

      .left-content {
        width: 350px;
        margin: 0 auto;

        .heading {
          h1 {
            font-size: var(--h1);
            margin-bottom: 10px;
          }

          p {
            font-size: var(--18);
            color: var(--secondary-black);
            margin-bottom: 30px;
          }
        }

        form {
          .m30 {
            margin-bottom: 30px;
          }

          .input- {
            position: relative;

            .input-box {
              position: relative;
              width: 100%;

              input {
                width: 100%;
                height: 50px;

                font-size: var(--14);
                padding-top: 20px;
                outline: none;
                border: none;
                border-bottom: 1px solid var(--gray);

                transition: 0.4s all;
              }

              input::placeholder {
                font-size: var(--16);
                opacity: 0;
              }

              label {
                position: absolute;
                top: 23px;

                display: block;
                user-select: none;
                pointer-events: none;
                font-size: var(--16);
                color: var(--gray);

                transition: 0.4s all;
              }

              .show-password {
                position: absolute;
                top: 50%;
                left: auto;
                right: 10px;
                transform: translateY(-50%);

                font-size: var(--12);
                cursor: pointer;
                color: var(--gray);
                user-select: none;

                transition: 0.4s;
              }

              .show-password:hover {
                color: #000;
              }

              input.active {
                border-bottom-color: #000;
              }

              input.active::placeholder {
                opacity: 1;
              }

              input.active + label {
                color: var(--gray);
                font-size: var(--12);
                top: 7px;
              }

              input.invalid {
                border-bottom-color: var(--error-red);
              }

              input.invalid + label {
                color: var(--error-red);
              }

              input.invalid::placeholder {
                color: var(--error-red);
              }
            }

            .inv-inp {
              position: absolute;
              bottom: -20px;
              right: 0;
              left: auto;

              color: var(--error-red);
              font-size: var(--14);
              display: none;

              transition: 0.4s all;
            }

            .inv-inp.invalid {
              user-select: none;
              pointer-events: none;
              display: unset;
            }
          }
        }

        .action {
          font-size: var(--14);
          text-align: center;

          p {
            color: var(--secondary-black);
          }

          a {
            color: black;
            font-weight: bold;
            transition: 0.4s;
          }

          a:hover {
            color: var(--primary-blue);
          }

          button {
            height: 40px;
            width: 100%;

            border-radius: 10px;
            border: none;
            background-color: #000;
            color: #fff;
            cursor: pointer;

            margin-bottom: 160px;
            transition: 0.4s all;
          }

          button:hover {
            color: #fff;
            background-color: var(--primary-blue);
          }

          .forgot-password {
            margin: 40px auto 50px;
          }
        }
      }
    }

    .right {
      width: calc(100% - 396px);
      border-radius: 20px;
      height: 100%;
      position: relative;

      overflow: hidden;

      .bg-img {
        img {
          height: 100%;
          position: absolute;
          z-index: -10;
        }

        .linear {
          position: absolute;
          height: 100%;
          width: 100%;
          background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 1));

          z-index: -5;
        }
      }

      .qoute {
        margin: 28px;
      }

      .message {
        position: absolute;
        bottom: 95px;
        top: auto;

        color: #fff;
        font-weight: lighter;

        .quote {
          font-size: var(--12);
          width: 400px;

          margin-left: 60px;
          margin-top: 20px;
        }

        .glass {
          background: rgba(255, 255, 255, 0.18);
          border-radius: 20px;
          box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
          backdrop-filter: blur(4.8px);
          -webkit-backdrop-filter: blur(4.8px);
          border: 1px solid rgba(255, 255, 255, 0.38);
          width: 200px;

          margin-left: 40px;

          p {
            font-size: var(--16);
            padding: 10px 0 10px 15px;
          }
        }
      }
    }
  }
}
