<section class="container">
  <section class="left-container">
    <section class="left-side">
      <div class="headline">
        <h1>Welcome back!</h1>
        <p>
          Log in to your account and take the next step in your career journey.
          Your future awaits!
        </p>
      </div>

      <form>
        <div class="input-box">
          <img src="../../../assets/icons/user--login.svg" alt="" />
          <input
            type="text"
            name=""
            id=""
            placeholder="Email Address or Username"
          />
        </div>

        <div class="input-box">
          <img src="../../../assets/icons/password.svg" alt="" />
          <input type="password" name="" id="" placeholder="Password" />
          <span>Show</span>
        </div>

        <button>Sign in</button>
      </form>

      <div class="signin">
        <p>
          Not yet a member?
          <span><a href="">Sign up</a></span>
        </p>
      </div>

      <div class="dash-or">
        <hr />
        <span>Or</span>
      </div>

      <div class="other-way">
        <button class="google">
          <img src="../../../assets/icons/google.svg" alt="" />Continue with
          google
        </button>
        <button class="facebook">
          <img src="../../../assets/icons/facebook.svg" alt="" />Continue with
          facebook
        </button>
        <button class="apple">
          <img src="../../../assets/icons/apple.svg" alt="" />Continue with
          apple
        </button>
      </div>
    </section>
  </section>

  <section class="right-side">
    <img src="../../../assets/images/img-login.png" alt="" />

    <div class="content">
      <h1>New here?</h1>
      <p>
        Sign in and open the door to a world of career possibilities. Let's get
        started on your path to success!
      </p>
      <button>Sign up</button>
    </div>
  </section>
</section>
