.container {
  padding: 64px;

  .signin-wrapper {
    width: 100%;
    height: 100%;

    display: flex;

    .left {
      width: 40%;
      height: 100%;
      padding: 0 50px;

      .left-wrapper {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        background-color: white;

        .heading {
          h1 {
            font-size: var(--h1);
          }

          p {
            font-size: var(--16);
            color: var(--secondary-black);

            margin: 10px 0 5px;
          }
        }

        form {
          .m20 {
            margin-bottom: 20px;
          }

          .input- {
            position: relative;
            height: 50px;
            width: 100%;

            .input-box {
              input {
                position: absolute;

                width: 100%;
                height: 100%;

                outline: none;
                background-color: transparent;
                border: none;
                border-bottom: 1px solid var(--gray);

                font-family: var(--paragraph-ff);
                font-size: var(--16);

                padding-top: 20px;
                transition: 0.4s all;
              }

              input.active {
                border-bottom-color: #000;
              }

              input.active + label {
                color: var(--gray);
                font-size: var(--12);
                top: 7px;
              }

              label {
                position: absolute;
                left: 0;
                top: 24px;

                pointer-events: none;
                user-select: none;
                color: var(--gray);

                transition: 0.4s all;
              }

              input::placeholder {
                font-family: var(--paragraph-ff);
                font-size: var(--16);

                opacity: 0;
              }

              span {
                position: absolute;

                top: 50%;
                right: 10px;
                left: auto;
                transform: translateY(-50%);

                font-size: var(--12);
                color: var(--gray);
                user-select: none;
                cursor: pointer;
              }

              input.invalid {
                border-bottom-color: var(--error-red);
              }

              input.invalid + label {
                color: var(--error-red);
              }
            }

            .inp-inv {
              position: absolute;
              bottom: -20px;
              right: 0;
              color: var(--error-red);
              font-size: var(--12);
              display: none;
            }

            .inp-inv.invalid {
              display: unset;
            }
          }

          .forgot-password {
            font-size: var(--14);
            text-align: left;
            color: var(--gray);

            a {
              color: #000;
              font-weight: bold;
              transition: 0.4s ease;
            }

            a:hover {
              color: var(--primary-blue);
            }
          }
        }

        .actions {
          button {
            width: 100%;
            height: 40px;

            margin: 100px 0 40px;
            background-color: #000;
            color: #fff;
            border-radius: 10px;
            border: none;

            cursor: pointer;
            transition: 0.4s all;
          }

          button:hover {
            background-color: var(--primary-blue);
          }

          p {
            font-size: var(--14);
            text-align: center;
            color: var(--gray);

            a {
              color: #000;
              font-weight: bold;
              transition: 0.4s ease;
            }

            a:hover {
              color: var(--primary-blue);
            }
          }
        }
      }
    }

    .right {
      width: 60%;
      height: 100%;
      position: relative;

      border-radius: 20px;
      overflow: hidden;

      .img-holder {
        height: 100%;
        width: 100%;

        position: relative;

        img {
          height: 100%;
          position: absolute;
          z-index: -10;
        }

        .linear {
          position: absolute;
          height: 100%;
          width: 100%;
          background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 1));

          z-index: -5;
        }
      }

      .txt {
        position: absolute;
        bottom: 195px;
        color: #fff;

        width: 100%;

        .glass {
          position: inherit;
          left: 40px;

          width: 210px;
          background: rgba(255, 255, 255, 0.18);
          border-radius: 20px;
          box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
          backdrop-filter: blur(4.8px);
          -webkit-backdrop-filter: blur(4.8px);
          border: 1px solid rgba(255, 255, 255, 0.38);

          p {
            padding: 10px 20px 10px 36px;
            font-size: 16px;
            font-family: var(--roboto-ff);
          }
        }

        .quote {
          position: inherit;
          left: auto;
          left: 75px;
          top: 59px;

          font-size: var(--12);
          width: 400px;
          text-align: left;
        }
      }

      .quote-img {
        position: absolute;
        top: 28px;
        right: 28px;
        transform: scaleX(-1);
      }
    }
  }
}

// @media (1025px <= width <= 1366px) {
// }

// @media (767px <= width <= 1024px) {
// }

// @media (424px <= width <= 768px) {
// }

// @media (374px <= width <= 425px) {
// }

// @media (width <= 320px) {
// }

@media (1025px <= width <= 1366px) {
}

@media (767px <= width <= 1024px) {
  .container {
    .signin-wrapper {
      .left {
        .left-wrapper {
          padding: 70px 0;
        }
      }
    }
  }
}

@media (499px <= width <= 768px) {
  .container {
    width: 100%;
    height: 100vh;
    padding: 0;

    .signin-wrapper {
      width: 100%;
      display: flex;
      flex-direction: column-reverse;

      .left {
        width: 100%;

        .left-wrapper {
          padding: 20px 50px;

          form {
            .m20 {
              margin-bottom: 10px;
            }
          }

          .actions {
            button {
              margin: 90px 0 20px;
            }
          }
        }
      }

      .right {
        width: 100%;
        height: 70%;
        overflow: unset;

        .img-holder {
          width: 100%;

          img {
            width: 100%;
            object-fit: cover;
          }
        }

        .txt {
          .glass {
            display: none;
          }

          .quote {
            text-align: center;

            top: 50%;
            left: 50%;
            transform: translate(-50%);
          }
        }

        .quote-img {
          display: none;
        }
      }
    }
  }
}

@media (width <= 500px) {
  .container {
    width: 100vw;
    height: 100vh;
    padding: 0;

    .signin-wrapper {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column-reverse;

      .left {
        width: 100%;
        padding: 20px 50px;

        .left-wrapper {
          .heading {
            h1 {
              font-size: 24px;
            }

            p {
              font-size: 14px;
            }
          }

          form {
            .input- {
              input,
              input::placeholder,
              label {
                font-size: 14px;
              }
            }
          }
        }
      }

      .right {
        overflow: unset;
        width: 100%;
        height: 50%;

        .img-holder {
          height: 100%;
          img {
            width: 100%;
            object-fit: cover;
          }
        }

        .txt {
          .glass {
            display: none;
          }

          .quote {
            text-align: center;
            width: 70%;
            left: 50%;

            transform: translate(-50%);
          }
        }

        .quote-img {
          display: none;
        }
      }
    }
  }
}

@media (width <= 320px) {
}
