<app-navbar />

<section class="container">
  <section class="wrapper">
    <div class="headline">
      <h3>Notifications</h3>
      <img src="../../../assets/icons/more.svg" alt="" />
    </div>

    <div class="actions">
      <a routerLink="" class="active">All</a>
      <a routerLink="">Unread</a>
    </div>

    <div class="notifications">
      <div class="notification">
        <p class="title">New</p>
        <div class="new">
          <span
            ><div class="profile">
              <img src="../../../assets/local_uploads/prof-4.jpg" alt="" /></div
          ></span>
          <div class="text">
            <p class="name">Justine Malabanan</p>
            <span class="message"
              >Friend Justine is now following you. Increase your popularity by
              posting more quality contents.</span
            >
            <span class="time">11:59 pm</span>
          </div>
          <div class="badge"></div>
        </div>
        <p class="title">Earlier</p>
        <div class="earlier">
          <span
            ><div class="profile">
              <img src="../../../assets/local_uploads/prof-3.jpg" alt="" /></div
          ></span>
          <div class="text">
            <p class="name">Justine Malabanan</p>
            <span class="message"
              >Friend Justine is now following you. Increase your popularity by
              posting more quality contents.</span
            >
            <span class="time">11:59 pm</span>
          </div>
          <div class="badge"></div>
        </div>
      </div>
    </div>
  </section>
</section>
