<section class="auth-wrapper">
  <header>
    <img src="../../../assets/icons/back.svg" alt="click to go back" />
  </header>

  <section class="auth-container">
    <section class="body">
      <h1>Forgot Password</h1>
      <p>Enter your email address below</p>

      <div class="input-box">
        <input
          type="text"
          name="email"
          placeholder="jobless@programmer.com"
          required
        />
        <label for="email">Email Address</label>
      </div>

      <button>Next</button>
    </section>

    <section class="body hide">
      <h1>Set New Password</h1>
      <p>Enter your new password below</p>

      <div class="input-box">
        <input
          type="password"
          name="password"
          placeholder="New password"
          required
        />
        <label for="email">New Password</label>
      </div>

      <div class="input-box">
        <input
          type="password"
          name="rptpassw"
          placeholder="Confirm new password"
          required
        />
        <label for="rptpassw">Confirm New Password</label>
      </div>

      <button class="updtpass">Update Password</button>
    </section>
  </section>
</section>
