<section class="auth-wrapper">
  <section class="auth-container">
    <section class="img-holder">
      <img src="" alt="no img found" />
    </section>

    <section class="headline">
      <h1>Unlock Your Career Potential</h1>
    </section>

    <section class="content">
      <p>
        Welcome to our Job Portal Mobile App! Discover endless career
        opportunities and unlock your potential. Apply, connect, and succeed.
        Start your journey today!
      </p>
    </section>

    <section class="action">
      <button id="signup">Get Started</button>
      <button id="signin">Already have an account</button>
    </section>
  </section>
</section>
