.container {
  width: 100%;
  height: calc(100vh - 69px);

  background-color: #f2f2f2;
  padding-bottom: 30px;

  .header {
    padding: 0 100px;

    h2 {
      font-size: var(--h2);
      font-family: var(--heading-ff);
      padding: 20px 0 10px;
    }

    p {
      margin-bottom: 25px;
      width: 585px;
      color: var(--gray);
    }
  }
  .search {
    display: flex;
    height: 50px;
    padding: 0 100px;

    .br1px {
      border-right: 1px solid var(--gray);
    }

    .search-wrapper {
      display: flex;
      padding: 5px 0;
      width: 100%;
      height: 100%;
      background-color: #fff;
      box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

      border-radius: 10px;

      .search-input {
        display: flex;
        width: 100%;

        .input-box {
          position: relative;
          height: 100%;
          width: 100%;

          input {
            height: 100%;
            position: absolute;
            width: 100%;
            border: none;
            background-color: transparent;
            outline: none;
            font-family: var(--paragraph-ff);
            font-size: var(--16);

            padding-left: 44px;
          }

          ::placeholder {
            font-family: var(--paragraph-ff);
            font-size: var(--16);
          }

          img {
            position: absolute;
            height: 24px;
            width: 24px;

            left: 10px;
            top: 50%;
            transform: translateY(-50%);
          }
        }
      }
      .search-btns {
        display: flex;

        .filter {
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 0 15px;
          color: var(--secondary-black);

          margin: 0 5px;
          border: none;
          border-radius: 10px;

          img {
            height: 24px;
            width: 24px;

            margin-left: 10px;
          }
        }

        .search {
          align-items: center;
          padding: 0 27px;
          height: 100%;
          background-color: var(--primary-blue);
          color: #fff;

          margin-right: 5px;
          border: none;
          border-radius: 10px;
        }
      }
    }
  }

  .results {
    margin-top: 40px;
    background-color: #fff;
    padding: 20px 100px;
    border-radius: 20px 20px 0 0;

    .heading {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 20px;

      h3 {
        font-family: var(--heading-ff);
        font-size: var(--h3);
        font-size: (--h3);

        user-select: none;

        span {
          font-family: var(--paragraph-ff);
          margin-right: 2px;
        }
      }

      p {
        display: flex;
        align-items: center;

        img {
          height: 24px;
          width: 24px;
          margin-left: 5px;
        }
      }
    }

    .wrap {
      display: flex;

      .empty-wrapper {
        width: 100%;

        .left-result {
          width: 100%;

          .result-box.active {
            background-color: rgba(24, 118, 242, 1);

            .text {
              .company {
                color: var(--primary-yellow);
              }

              .details,
              .location {
                color: #f2f2f2;
              }
            }

            .time-action {
              .img-holder {
                background-color: var(--primary-yellow);
              }

              .time {
                color: #f2f2f2;
              }
            }
          }

          .result-box.active:hover {
            background-color: rgba(24, 118, 242, 0.8);
          }

          .result-box {
            display: flex;
            justify-content: space-between;

            padding: 10px 20px;
            border-radius: 10px;
            transition: 0.4s;

            cursor: pointer;

            .empty {
              display: flex;
            }

            .profile {
              height: 40px;
              width: 40px;
              border-radius: 50%;
              margin-right: 15px;

              background-color: var(--gray);
            }

            .text {
              .company {
                font-weight: bold;
              }

              .details,
              .location {
                font-size: var(--14);
                color: var(--secondary-black);
              }
            }

            .time-action {
              display: flex;
              flex-direction: column;
              justify-content: space-between;

              .img-holder {
                height: 30px;
                width: 30px;
                background-color: #d9d9d9;
                border-radius: 2px;

                align-self: flex-end;

                display: flex;
                align-items: center;
                justify-content: center;

                img {
                  height: 24px;
                  width: 24px;
                }
              }

              .time {
                font-size: var(--14);
              }
            }
          }

          .result-box:hover {
            background-color: var(--light-gray);
          }
        }
      }

      .details-- {
        width: 100%;
        height: 300px;
        padding: 0 30px;
        font-family: var(--paragraph-ff);
        overflow-y: scroll;

        transition: 0.4s all;
      }
    }
  }
}

@media (width <= 845px) {
  .container {
    .search {
      height: auto;
      width: 100%;

      display: flex;

      .search-wrapper {
        .search-input {
          .input-box {
            input {
              padding-left: 20px;
            }

            img {
              display: none;
            }
          }
        }

        .search-btns {
          display: flex;

          .search,
          .filter {
            width: 100%;
            height: 30px;
          }
        }
      }
    }

    .results {
      .wrap {
        display: unset;

        .details-- {
          position: absolute;
          height: 100vh;

          z-index: 20;
          top: 0;
          right: 0;

          padding: 0;
          width: 50%;
        }

        .empty-- {
          position: absolute;
          left: 0;
          top: 0;
          z-index: 15;
          width: 100%;
          height: 100vh;
          background-color: black;
          opacity: 0.2;
        }
      }
    }
  }
}

@media (width <= 765px) {
  .container {
    .header {
      padding: 0 50px;
    }
    .search {
      padding: 0 50px;
    }
    .results {
      padding: 10px 50px;
    }
  }
}

@media (width <= 700px) {
  .container {
    .header {
      h2 {
        font-size: 20px;
      }
      p {
        width: 70%;
        font-size: 14px;
      }
    }
    .search {
      height: auto;

      .search-wrapper {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        padding: 5px 0 5px;

        .search-input {
          margin-bottom: 5px;
          .input-box {
            height: 30px;
            width: 100%;
            padding: 5px;

            input {
              height: 100%;
              width: 100%;
              top: 0;
              left: 0;
              font-size: 14px;
            }

            ::placeholder {
              font-size: 14px;
            }
          }
        }

        .search-btns {
          display: none;
        }
      }
    }

    .results {
      .heading {
        margin-bottom: 10px;

        h3 {
          font-size: 16px;
        }
      }
    }
  }
}

@media (width <= 600px) {
  .container {
    .results {
      .wrap {
        .details-- {
          width: 100%;
          height: calc(100vh - 30%);
          top: 30%;
        }
      }
    }
  }
}

@media (width <= 500px) {
  .container {
    background-color: var(--primary-yellow);
    overflow: hidden;
    .header,
    .search {
      padding: 0 20px;
    }

    .results {
      padding: 10px 10px;
      margin-top: 20px;
      height: 100%;

      .heading {
        h3 {
          margin-right: 20px;
          padding-left: 10px;
        }
      }
      .wrap {
        .empty-wrapper {
          .left-result {
            .result-box {
              padding: 10px 10px;

              .time-action {
                .img-holder {
                  background-color: var(--primary-yellow);
                  border-radius: 7px;
                }
              }
            }
            .empty {
              margin-right: 20px;

              .profile {
                display: none;
              }
            }
          }
        }
      }
    }
  }
}
