<app-navbar />

<section class="container">
  <section class="header">
    <h2>
      Discover Your Career Path in Minutes: <br />Unlock Your Future Today
    </h2>
    <p>
      Introducing Our Enhanced Search: Find Your Perfect Career Match Instantly!
      Discover Our New Search Function: Your Dream Career Just a Click Away!
    </p>
  </section>

  <form [formGroup]="searchval">
    <section class="search">
      <div class="search-wrapper">
        <div class="search-input">
          <div class="input-box br1px">
            <img src="../../../assets/icons/search.svg" alt="search icon" />
            <input
              type="text"
              placeholder="Search here ..."
              (keyup)="handleResult()"
              formControlName="search"
              name="search"
            />
          </div>
          <div class="input-box">
            <img src="../../../assets/icons/location.svg" alt="search icon" />
            <input
              type="text"
              placeholder="Location"
              (keyup)="handleResult()"
              name="location"
              formControlName="location"
            />
          </div>
        </div>
        <div class="search-btns">
          <button class="filter">
            Filter
            <img src="../../../assets/icons/filter.svg" alt="filter icon" />
          </button>
          <button class="search" (click)="handleSearch()">Search</button>
        </div>
      </div>
    </section>
  </form>

  <section class="results">
    <div class="heading">
      <h3>
        {{
          isTriggered
            ? resLength + " results found"
            : "Refine Your Search for a Better Match"
        }}
      </h3>
      <p>
        Relevant
        <img src="../../../assets/icons/drop.svg" alt="" />
      </p>
    </div>
    <div class="wrap">
      <div class="empty-wrapper">
        <div class="left-result" *ngFor="let job of defaultValue">
          <!-- Loop starts here -->
          <div
            class="result-box"
            (click)="toggleShow(job.id)"
            [ngClass]="isActive[job.id] ? 'active' : ''"
          >
            <div class="empty">
              <span><div class="profile"></div></span>
              <div class="text">
                <p class="company">{{ job.companyname }}</p>
                <p class="details">{{ job.jobtitle }}. {{ job.jobtype }}</p>
                <p class="location">{{ job.location }}</p>
              </div>
            </div>
            <div class="time-action">
              <div class="img-holder">
                <img src="../../../assets/icons/save-white.svg" alt="" />
              </div>
              <p class="time">{{ job.time }}</p>
            </div>
          </div>
          <!-- Loop ends here -->
        </div>
      </div>
      <div class="details--" *ngIf="showDetails[id]">
        <app-results index="{{ id }}" />
      </div>

      <div class="empty--" (click)="close(id)" *ngIf="showDetails[id]"></div>
    </div>
  </section>
</section>
