<app-navbar />

<section class="container">
  <section class="header">
    <h2>
      Discover Your Career Path in Minutes: <br />Unlock Your Future Today
    </h2>
    <p>
      Introducing Our Enhanced Search: Find Your Perfect Career Match Instantly!
      <br />
      Discover Our New Search Function: Your Dream Career Just a Click Away!
    </p>
  </section>

  <section class="search">
    <div class="search-wrapper">
      <div class="search-input">
        <div class="input-box br1px">
          <img src="../../../assets/icons/search.svg" alt="search icon" />
          <input type="text" placeholder="Search here ..." />
        </div>
        <div class="input-box">
          <img src="../../../assets/icons/location.svg" alt="search icon" />
          <input type="text" placeholder="Search your location here ..." />
        </div>
      </div>
      <div class="search-btns">
        <button class="filter">
          Filter
          <img src="../../../assets/icons/filter.svg" alt="filter icon" />
        </button>
        <button class="search" (click)="handleSearch()">Search</button>
      </div>
    </div>
  </section>

  <section class="results">
    <div class="heading">
      <h3>
        {{
          isTriggered
            ? resLength + "Hello"
            : "Refine Your Search for a Better Match"
        }}
      </h3>
      <p>
        Relevant
        <img src="../../../assets/icons/drop.svg" alt="" />
      </p>
    </div>
    <div class="wrap">
      <div class="empty-wrapper">
        <div class="left-result" *ngFor="let newData of jobData">
          <div
            class="result-box"
            (click)="toggleShow(newData.id)"
            [ngClass]="isActive[newData.id] ? 'active' : ''"
          >
            <div class="empty">
              <span><div class="profile"></div></span>
              <div class="text">
                <p class="company">{{ newData.companyName }}</p>
                <p class="details">
                  {{ newData.jobTitle }}. {{ newData.jobType }}
                </p>
                <p class="location">{{ newData.location }}</p>
              </div>
            </div>
            <div class="time-action">
              <div class="img-holder">
                <img src="../../../assets/icons/save-white.svg" alt="" />
              </div>
              <p class="time">{{ newData.time }}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="details--" *ngIf="showDetails[id]">
        <app-results index="{{ id }}" />
      </div>
    </div>
  </section>
</section>
